<template lang="pug">
  div.hero(
    :style="heroStyle",
    :class="heroClass"
    )
    div.hero__container
      h1.hero__title {{ title }}
      p.hero__content( v-if="copy" ) {{ copy }}
      a.hero__cta(
        :href="ctaUrl"
        v-if="ctaUrl"
      ) {{ ctaText }}
</template>

<script>
export default {
  name: "HeroBanner",
  props: {
    image: {
      type: String,
      default: ""
    },
    mobileImage: {
      type: String,
      default: ""
    },
    textColor: {
      type: String,
      default: "#fff"
    },
    textAlignment: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    copy: {
      type: String,
      default: ""
    },
    ctaText: {
      type: String,
      default: ""
    },
    ctaUrl: {
      type: String,
      default: ""
    }
  },
  computed: {
    heroStyle() {
      let background = "#FFF";
      if (this.$mq === "mobile") {
        if (this.mobileImage !== "") {
          background = `#FFF url(${this.mobileImage}) no-repeat center center/cover`;
        } else if (this.image !== "") {
          background = `#FFF url(${this.image}) no-repeat center center/cover`;
        }
      } else if (this.$mq !== "mobile" && this.image !== "") {
        background = `#FFF url(${this.image}) no-repeat center center /cover`;
      }

      return {
        background,
        color: this.textColor
      };
    },
    heroClass() {
      const classes = [this.textAlignment];
      return classes;
    }
  }
};
</script>
