<section>
  <hero-banner
    {% if section.settings.image != blank %}
      image="{{ section.settings.image | img_url: '1400x' }}"
    {% endif %}

    {% if section.settings.mobile_image != blank %}
      mobile-image="{{ section.settings.mobile_image | img_url: '768x' }}"
    {% endif %}

    text-color="{{ section.settings.text_color }}"
    title="{{ section.settings.title }}"
    copy="{{ section.settings.copy }}"
    text-alignment="{{ section.settings.text_alignment }}"

    {% if section.settings.cta_text %}
      cta-text="{{ section.settings.cta_text }}"
    {% endif %}

    {% if section.settings.cta_url %}
      cta-url="{{ section.settings.cta_url }}"
    {% endif %}
  />
</section>


{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Color Picker",
        "default": "#FFF"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "text-left",
        "options": [
          { "value": "text-left", "label": "Left" },
          { "value": "text-right", "label": "Right" },
          { "value": "text-center", "label": "Center" }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Hero Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy",
        "default": "In lorem leo, sodales et ullamcorper tempor, facilisis id nibh. Maecenas nibh risus, rutrum nec tellus sed, pharetra gravida nulla. Proin imperdiet "
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ],
    "presets": [{
      "name": "Hero Banner",
      "category": "Hero"
    }]
  }
{% endschema %}
