.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 640px;
  padding: 0 50px;

  @include tablet-up {
    height: 500px;
    padding: 0 78px;

    &.text-left {
      justify-content: flex-start;
    }

    &.text-right {
      justify-content: flex-end;
    }
  }

  &__container {
    text-align: center;

    @include tablet-up {
      max-width: 50%;
      text-align: left;
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 10px;

    @include tablet-up {
      font-size: 46px;
    }
  }

  &__content {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.65;
    margin: 0;

    @include tablet-up {
      font-size: 24px;
      line-height: 1.75;
    }
  }

  &__cta {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background: #57AD68;
    transition: all 0.5s ease-in-out;
    padding: 18px 51px;
    border-radius: 100px;
    display: inline-block;
    margin-top: 40px;

    &:hover {
      color: #57AD68;
      background: white;
    }
  }
}